* {
	font-family: sans-serif;
}

div {
	/*max-width: 750px;*/
	/*margin: 20px;*/
	padding: 20px;
}

h1, h2, h3, h4 {
	margin:auto;
}

p {
	float: none;
	margin: 10px;
}

label:after {
	content: "\000A";
	white-space: pre;
}

div.tooltip {
	position: absolute;
	text-align: left;
	font-size: 10px;
	padding: 2px;
	margin: 0px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	pointer-events: none;
	background: white;
	opacity: 0;
}

div.tooltip {
	/*padding: 5px;*/
}

div.tooltip p {
	line-height: 15%;
}

input[type="checkbox"] {
	margin-right: 4px;
}

.title {
	text-align: right;
}

.chatter {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	border-radius: 10px;
}

#days {
	padding-top: 50px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 11px;
}